*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1, h5{
    background-color: #000;
    color: #fff;
    padding: 5px;
}

.container{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    background-color: #ddd;
}

.box{
    height: 400px;
    padding: 20px;
    background-color: rgb(240, 155, 221);
    border: 3px solid #ddd;
    font-size: 30px;
    flex: 1;
    transition:1s
}

.box:hover{
    flex: 3;
    background-color: rgb(114, 4, 90);
}